@model IEnumerable<BugTrackerv2.Models.TicketFolder.TicketNotification>
@{
    ViewBag.Title = "Notifications";
}


    <div class="single-head">
        <h2 class="pull-left">Ticket Notifications</h2>
        <div class="clearfix"></div>
    </div>
    <div class="page-inbox">
        <div class="row">
           
            <div class="col-md-12 col-sm-12">
                <div class="inbox-mail table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Message</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
