@model BugTrackerv2.Models.ProjectFolder.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            Project Managers Assigned
        </dt>
        <dt>
            Developers Assigned
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
