
@{
    ViewBag.Title = "Landing";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BugTracker</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/heroic-features.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-bug"></i> Bug Tracker</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome to BugTracker v.2!</h1>
            <p>BugTracker v.2 is the latest version of BugTracker. A BugTracker is software used to collect bugs within a software and service that bug in an organized manner. Click View to see more.</p>
            <p>
                <a href="@Url.Action("Login","Account")" class="btn btn-primary btn-large">View More!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Features</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 hero-feature">
                
                    <h2><span class="fa fa-bell-o fa-3x"></span> Notifications</h2>
                    <div class="caption">
                        
                        <p>Notifications are sent if any changes are made to a ticket that the user owns or is assigned to. Click the button below to view more.</p>
                        <p>
                            <a class="btn btn-default" href="@Url.Action("Login","Account")">View &raquo;</a>
                        </p>
                    </div>
               
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                
                    <h2><span class="fa fa-folder-open-o fa-3x"></span> Projects</h2>
                    <div class="caption">
                        
                        <p>Projects are assigned to Project Managers and Developers. Click View to see the projects that are assigned to you.</p>
                        <p>
                            <a class="btn btn-default" href="@Url.Action("Login","Account")">View &raquo;</a>
                        </p>
                    </div>
                
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                
                    <h2><span class="fa fa-bar-chart-o fa-3x"></span> Tickets</h2>
                    <div class="caption">
                        
                        <p>Tickets are submitted by authorized personel that includes submitters. Click View to see tickets assigned to you.</p>
                        <p>
                            <a class="btn btn-default" href="@Url.Action("Login","Account")">View &raquo;</a>
                        </p>
                    </div>
                
            </div>

           

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/Scripts/jquery-2.1.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>

</body>

</html>

