@model BugTrackerv2.Models.CustomViewModels.UserRoleViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Role Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Roles</th>           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model.RoleList)
        {
            
            <tr>
                <td>@role.Name</td>
                <td><a href="@Url.Action("EditRole","Role", new { RoleName = role.Name})">Add Users</a></td>
            </tr>
        }        
    </tbody>
    <tfoot>
        <tr>
            <td>Users without roles</td>
            <td>@Html.ListBox("noRole", null, htmlAttributes: new {})</td>
        </tr>
    </tfoot>
</table>
