@model BugTrackerv2.Models.CustomViewModels.UserRoleViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Role Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Roles</th>           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model.RoleList)
        {
            
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("EditRole", "Role", new { RoleName = role.Name })" class="btn btn-primary" >Add/Remove Users</a>                     
                </td>
            </tr>
        }
               
    </tbody>
    <tfoot>
        <tr>
            <td>Users without roles</td>
            <td>
                <a href="#noRoles" class="btn btn-primary" data-toggle="collapse" aria-expanded="false"><i class="fa fa-search-plus"></i>View</a>
                
                <div class="collapse" id="noRoles" style="margin-top:10px;">
                    <div class="well" style="width:260px;margin-bottom:0;padding-bottom:9px;">
                        @Html.ListBox("noRole", null, htmlAttributes: new { })
                    </div>
                </div>                
            </td>
        </tr>
    </tfoot>
</table>
